* {
	margin: 0;
	padding: 0;
}

body {
	background-color:#546e7a ;
}

.container {
	background: #00acc1;	
}

p {
	font-family: 'Acme', sans-serif;
	font-size: 1.2rem;
	margin-left: 0.4em;
	color: #848484;
}

header {
	background-color: #75ccb9;	
	font-size: 1rem;
	display: flex;
	flex-direction: row;
}

/* LOGOS HEADER */
.divIcons {
	width: 20%;
	text-align: center;
}

.divLogo {
	width: 60%;
	text-align: center;
	padding: 0.1em;
}

.iconMenu {
	width: 30px;
	margin-top: 0.8em;
}

.nomApp {
	width: 130px;
	margin-right: -2em;
}

.logo {
	width: 23px;
}

.iconLupa {
	width: 40px;
	margin-top: 0.5em;
}

/* MAIN */
.main{
	display: flex;
	width: 100%;
}

.main-elements {
	flex: 100%;
	background-color: #fafafa;
	display: flex;
	flex-flow: row wrap;
	border-radius: 5px;
	justify-content: center;
}

/* TARGETS */
.element {
	background-color: #fafafa;
	border: 0.5px solid #E6E6E6;
	width: 45%;
	margin: 0.5em;
	border-radius: 5px;
}

img {
	width: 100%;
	border-radius: 5px;
}

button {
	width: 100%;
	border: none;
	padding: 0.2em;
	margin-top: 0.3em;
	font-family: 'Acme', sans-serif;
	font-size: 1rem;
	border-radius: 5px;
}

.adoption {
	background-color: #D8F781;
}

.lost {
	background-color: #FA5858;
}

.adopted {
	background-color: #D8D8D8;
}

.material-icons {
	color: #75ccb9;
	font-size: 1rem;
	float: right;
	margin-right: 1em;
	text-shadow: 1px 1px black;
}

/* ASIDE */
aside {
	flex: 20%;
	display: flex;    
	flex-direction: column; 
}

.info {   
	background-color: #ccc;
	border-radius: 8px;
	margin-bottom: 1em;
	padding: 1em;     
}

footer {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	color: #fff;
	background-color: #000;
}

/* @MEDIA */
@media screen and (max-width: 480px) {

	.main-elements {
		width: 100%;
	}

	.element {
		width: 45%;
	}

	.material-icons {
		margin: 0.2em;
	}

	aside {
		display: none;
	}

	footer {
		display: none;
	}
}

@media screen and (max-width: 1000px) {

	aside {
		display: none;
	}	
}




